/* ========= INFORMATION ============================
	- document:  WP Coder!
	- author:    Dmytro Lobov 
	- url:       https://wow-estore.com/
==================================================== */
.contenedor-input{
	display:flex;
	align-items:center;
}

input#textNumero1{
    border-radius: 50px;
    height: 45px;
    width: 230px;
    color:#1A1731;
    background-color: #EEF2FB;
    border: 1px solid rgb(231, 97, 0);
    box-shadow: 0px 0px 4px;
		padding-left: 20px;
}


@media (max-width: 600px) {
  input{
    height: 40px;
    max-width: 185px !important;
    padding-left:3px;
    
  }
}

img.lupaBH{
margin-left: 10px;
  width: 25px; 
  height: 25px; 
  padding: 5px;
  border-radius: 50px;
  background-color: rgb(231, 97, 0);
	max-width:fit-content;
  
}
#linkredirect1{
	display: inline-block;
}


